@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Fredoka+One&family=Staatliches&display=swap');
.contents {
    text-align: center;
    font-size: 22px;
    font-family: 'Arima Madurai', cursive;
}
#title {
    margin-top: 20px;
    font-size: 45px;
    font-weight: 200px;
}